@import "~materialize-css/dist/css/materialize.min.css";
 body{
    background-color: rgb(7, 7, 65);
    width: 100%;
    height: 100%;
} 

.all{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 900px;
}

.border{
    display: flex;
    flex-wrap:wrap ;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.square{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 33%;
   height: 33%;
   background: rgb(255, 255, 255);
   border: 1px solid black;
   font-size: 60px;
   cursor: pointer;
}

.square:hover{
    background: rgb(189, 189, 189);
 }

.start{
    color: burlywood;
    background-color: blue;
    border: black;
    height: 50px;
    min-width: 100px ;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.3s;
}

.start:hover{
    color: blue;
    background-color: burlywood;
    border: black;
    height: 50px;
    min-width: 100px ;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    font-size: 20px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
    color:burlywood;
    font-size: 30px;
}




